@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body {
    height: 100%;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#viewport {
    width: 640px;
    height: 256px;
    position: relative;
    overflow-x: auto;
    background-image: url("../images/water0.png");
}

#ports {
    width: 0px;
    margin-top: 96px;
    display: flex;
    justify-content: space-around;
}

#ports > .port {
    width: 64px;
    height: 32px;
    background-image: url("../images/port.png");
}

#ship {
    width: 128px;
    height: 64px;
    position: absolute;
    background-image: url('../images/ship.png');
}

#sailbutton {
    border: 0;
    background-color: hsl(0, 100%, 48%);
    color: white;
    width: 30%;
    font-family: 'VT323', monospace;
    font-size: 1.5em;
    padding: 10px 20px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #sailbutton:focus {
    background-color: #14ca24;
    border-bottom-width: 0;
    padding-top: 14px;
  }

  #message {
    padding: 16px;
    font-family: 'VT323', monospace;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-style: dashed;
    background-color: white;
  }

  #display {
    padding: 16px;
    font-family: 'VT323', monospace;
    font-size: 2em;
    position: absolute;
    width: 25%;
    top: 0;
    right: 0;
    border-style: dashed;
    background-color: white;
  }
    
  